{% layout "server/layouts/base.liquid" %}

{% block content %}

  <div class="hero-container">
    <div class="hero">
      <div>
        <small>Welcome to</small>
        <h1>Alt="<span>Match</span>"</h1>

        <div>
          <svg>
            <line x1="0" y1="1" x2="100%" y2="1"/>
          </svg>
          <div class="alt-container">
            <p>Alt=</p>
            <p>”A wolf pack growling in the snow”</p>
          </div>
          <svg>
            <line x1="0" y1="1" x2="100%" y2="1"/>
          </svg>
        </div>

        <a href="#more-info">How does it work?</a>
      </div>
      <ul>
        <li>
          <img src="images/pexels-suju-30890409.jpg" alt="">
        </li>
        <li>
          <img src="images/pexels-molnartamasphotography-29567753.jpg" alt="">
        </li>
        <li>
          <img src="images/pexels-caleb-falkenhagen-216813613-30845530.jpg" alt="">
        </li>
        <li>
          <img src="images/pexels-andreas-schnabl-1775843-28573531.jpg" alt="">
        </li>
      </ul>
    </div>
  </div>

  <div class="hr"></div>

  <div class="category-container">
    <div class="category">
      <div>
        <small>Get started</small>
        <div>
          <p>/</p>
          <p>|</p>
          <p>\</p>
          <p>|</p>
        </div>
      </div>
      <fieldset>
        <span>
          <legend>Pick a category</legend>
        </span>
        <div>
          <label class="animals-input">
            Animals
            <input type="radio" name="categories" checked>
          </label>
          <label class="food-input">
            Food
            <input type="radio" name="categories">
          </label>
          <label class="structures-input">
            Structures
            <input type="radio" name="categories">
          </label>
          <label class="people-input">
            People
            <input type="radio" name="categories">
          </label>
          <label class="random-input">
            Random
            <input type="radio" name="categories">
          </label>
        </div>
      </fieldset>
      <!-- Previous HTML and head section -->

      <ul class="animals-images">
        {% for image in animalImages %}
          <li>
            <button>
              <p>{{ image.displayName | capitalize }}
              </p>
              <img src="{{ image.urls.regular }}" alt="{{ image.alt_description }}">
            </button>
          </li>
        {% endfor %}
      </ul>

      <ul class="food-images">
        {% for image in foodImages %}
          <li>
            <button>
              <p>{{ image.displayName | capitalize }}
              </p>
              <img src="{{ image.urls.regular }}" alt="{{ image.alt_description }}">
            </button>
          </li>
        {% endfor %}
      </ul>


    </div>
  </div>

  <div class="mi bg">
    <div class="more-info-container">
      <div id="more-info" class="more-info">
        <svg>
          <line x1="5" y1="0" x2="5" y2="100%"/>
        </svg>
        <div>
          <small>How does it work?</small>
          <h2>What is
            <span>Alt="<span>Match</span>
            </span>"?</h2>
          <div class="multi-column">
            <p>
              Lorem Ipsum is simply dook a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dook a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
